body {
  background-color: #333;
  color: #fff;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

#gameCanvas {
  background-color: #1a1a1a; /* 古代遺跡の暗いイメージ */
  border: 3px solid #ffcc00; /* 迫力を出すための枠 */
}